.btn {


}

.btn:hover {
  background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
}

.form__container {
   width: 550px;
 }

 .form {
  background-color: #1D263A;
  color: #fff;
  padding-top: 115px; 
  padding-bottom: 115px;
  text-align: center;
  justify-content: center;
  align-items: center;

 }

 .form h1 {
  font-size: 48px;
  color: #fff;

 }

 .form p {
  font-size: 18px;
  opacity: 0.65;
  color: #fff;

 }

 .form__group {
  display: flex;
  flex-direction: column;
  text-align: left.
 }