  @keyframes spiner {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(10deg);}
    20% {transform: rotate(20deg);}
    30% {transform: rotate(30deg);}
    40% {transform: rotate(40deg);}
    50% {transform: rotate(50deg);}
    60% {transform: rotate(60deg);}
    70% {transform: rotate(70deg);}
    80% {transform: rotate(80deg);}
    90% {transform: rotate(90deg);}
    100% {transform: rotate(100deg);}
  }


body {
  font-family: 'Raleway', sans-serif;
  color: #213053;
  margin: 0;
}

  h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
  }
  
  ul, a, ol {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 5;
  width: calc(100% - 40px);
  background: white;
}


.header__logo {
  height: 30px;
}

a {
  text-decoration: none;
  color: #213053;
}
 
header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 10px;
}

.btn:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 25%);
}

.about {
  background: url('img/back.png') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 115px 20px;
}

.about__image {
  width: 500px;
}
 
.about__sun-image {
  width: 100px;
  height: 100px;
  animation: spiner  8s linear infinite;
}

.about h1 {
  font-size: 70px;
  line-height: 76px;
}
 
.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}
 
.about button {
  font-size: 18px;
  padding: 20px 25px;
  border-radius: 20px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}  

 .form__container {
   width: 550px;
 } 

.form {
  background-color: #1D263A;
  color: #fff;
  padding-top: 115px; 
  padding-bottom: 115px;  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 }

 .form form {
  display: grid;
  grid-gap: 20px;
  margin-top: 60px;
 }

 .form h1 {
  font-size: 48px;
  color: #fff;
  text-align: center;
 }

 .form p {
  font-size: 18px;
  opacity: 0.65;
  color: #fff;
  text-align: center;
 }

 .form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
 } 

 .form label {
  font-size:18px;
  font-weight: 600px;
  margin-bottom: 15px;
 }

 .form input, .form select  {
  font-size:18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border: none;
  border-radius:15px;
  outline: none;
 }
 
 .form input:focus, .form select:focus {
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.484);
 }

 .footer__container {
  display:flex;
 }

footer {
  padding: 90px 20px;
  font-size: 16px;
  font-weight: 600;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  margin: 40px;
  text-align: center;
  opacity: 0.5
}

.footer__group {
  padding-right: 80px;
}

.footer__group h3{
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.footer__links {
  flex-direction: column;
  margin-bottom: 15px;
  display: flex;
}

.footer__links a {
   margin-bottom: 15px;  
}

@media (max-width: 1024px) {

  .about h1 {
    font-size: 36px;
    line-height: 40px;
  }
     
  .about__image {
      width: 280px;
  }   
  .about__info {

    max-width: 500px;
  }
  .about__images {

    display: flex;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;  
  }
}

@media (max-width: 720px) {

  h1{
    font-size: 36px !important;
    line-height: 40px;
  }

  .header__logo {
    height: 20px;
  }

  header {
    width: calc(100% - 20px);
    padding: 10px;
  }

  footer {
    padding: 50px 10px;
  }

  .about {
    margin-top: 80px;   
    align-items: center;
    flex-direction: column-reverse;
    padding: 50px 10px; 
  }

  .about h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .form__container {
    max-width: 550px;
    width: 70%;
  }

  .footer__container {
    flex-direction: column;
  }
  .footer__links a{
    margin-bottom: 5px; 
    
  }
  .features {    
    padding: 50px 10px;    
  }
  .card {

  }
  .cards {
  grid-template-columns: auto
  }
}

.features {
  background-color: white;
  padding: 115px 60px;
}

.cards {
display: flex;
justify-content: space-between;
gap: 50px;
}

.card {
padding: 35px 40px 25px  40px;
border:  1px solid #D9E4E6;
border-radius:  5px;
}
.card p {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;

}
.card__logo {
  font-size:  32px;
  font-weight: 700;
  background-color: #eaeff9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  
}

.card__logo1{
  color: #ffb406;
  
  
}
.card__logo2{
  color: #ad1714;
}

.card__logo3{
  color:  #22a030;
}


.features__border {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 2px solid #E6EAF4;
  

}
.features__feedback{
  display: flex;
  justify-content: space-between;
}

.features__box {
  display: flex;  
}

.features__box > div {
  padding: 30px 40px 25px 40px;
  color: white;
  border-radius: 25px; 
}

.features__box h3 {
  font-size: 48px;
  margin-bottom: 20px;
}

.features__savings-box {

  background-color: #dc5e26;
  box-shadow:  0 6px 0 rgb(221 95 38 / 20%);
  margin-right:  30px;
}

.features__rate-box {
  background-color: #1D263A;
  box-shadow:  0 6px 0 rgb(29 38 58 / 20%);

}
.stars i {
  color: #ff7039;
}

.features__feedback-left h2 {
  font-size: 48px;

}
.features__feedback-left p {
  font-size: 18px;
  line-height: 26px;
  opacity: 0.7;
}

.features__feedback-left h3 {


}

@media (max-width: 380px) { 
  .about__image {
   width: 230px;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
