  @keyframes spiner {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(10deg);}
    20% {transform: rotate(20deg);}
    30% {transform: rotate(30deg);}
    40% {transform: rotate(40deg);}
    50% {transform: rotate(50deg);}
    60% {transform: rotate(60deg);}
    70% {transform: rotate(70deg);}
    80% {transform: rotate(80deg);}
    90% {transform: rotate(90deg);}
    100% {transform: rotate(100deg);}
  }


body {
  font-family: 'Raleway', sans-serif;
  color: #213053;
  margin: 0;
}

  h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
  }
  
  ul, a, ol {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.header__logo {
  height: 30px;
}

a {
  text-decoration: none;
  color: #213053;
}
 
header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}


button {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;

}

.btn:hover {
  background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 25%);
}

.about {
  background: url('img/back.png') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 115px 20px;
 

}

.about__image {
  width: 500px;
}
 
.about__sun-image {
  width: 100px;
  height: 100px;
  animation: spiner  8s linear infinite;
}

.about h1 {
  font-size: 70px;
  line-height: 76px;
}
 
.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}
 
.about button {
  font-size: 18px;
  padding: 20px 25px;
  border-radius: 20px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}  

 .form__container {
   width: 550px;
 } 

.form {
  background-color: #1D263A;
  color: #fff;
  padding-top: 115px; 
  padding-bottom: 115px;
  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

 }
 .form form {
  display: grid;
  grid-gap: 20px;
  margin-top: 60px;
 }

 .form h1 {
  font-size: 48px;
  color: #fff;
  text-align: center;

 }

 .form p {
  font-size: 18px;
  opacity: 0.65;
  color: #fff;
  text-align: center;

 }

 .form__group {
  display: flex;
  flex-direction: column;
  text-align: left.
 } 

 .form label {
  font-size:18px;
  font-weight: 600px;
  margin-bottom: 15px;

 }

 .form input, .form select  {
  font-size:18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border: none;
  border-radius:15px;
  outline: none;
 }
 
 .form input:focus, .form select:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.484) ;

 }